* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    min-height: 100vh; /* viewport height */
}
body.hobbies_page .main {
    background-image: url('../images/hobbies_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* header (learned that relative does not conflict with flex) */
.header {
    background-color: #2C0703;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    justify-content: space-between;
}
/* important id+comb. */
#main_title + section.about_me {
    padding-top: 20px;
}
.logo {
    font-weight: bold;
}

.nav {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); /* https://www.w3schools.com/howto/howto_css_topnav_centered.asp */
    display: flex;
    gap: 20px;
}

.nav_link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.nav_link:hover {
    text-decoration: underline;
}

.logo_icon img {
    width: 40px;
    height: auto;
}

/* main (learned about object-fit) */
.main {
    text-align: center;
    padding: 30px 20px;
    background-color: #EBD4CB;
    flex:1;
}

.profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ccc;
    display: block;
    margin: 20px auto;
}

.profile figcaption {
    font-style: italic;
    color: #555; 
}

/* about_me */
.about_me {

    max-width: 600px;
    margin: 20px auto;
    text-align: center;

}

.about_me blockquote {
    display: inline-block;
    font-style: italic;
    border-left: 3px solid #333;
    padding-left: 10px;
    margin: 10px 0;
    color: #B6465F;
}

/* footer */
.footer {
    background-color: #2C0703;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #555;
}

.footer a {
    color: lightblue;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
/* table for movies.html */
.movies_table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.movies_table caption {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.movies_table th, .movies_table td {
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
}

.movies_table th {
    background-color: #2C0703;
    color: white;
}

.movies_table tr:nth-of-type(odd) {
    background-color: #f9f2ef;
}

.movies_table tr:nth-of-type(even) {
    background-color: #f1d8cf;
}

.movies_table tr:hover {
    background-color: #e2b6a1;
    cursor: pointer;
}
.block1 ul li {
   list-style-type: none;
} 