html,body {
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
}

body {
  font-size:16px;
}

.ui.container {
  margin-top:2em;
}

.ui.tabular.menu {
  border-radius: 0;
  box-shadow: none !important;
  border: none;
  background: none transparent;
  border-bottom: 1px solid #ff0202;
}
.ui.tabular.menu .item {
  background: transparent;
  border-bottom: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 2px solid transparent;
  padding: 0.92857143em 1.42857143em;
  font-weight: bold;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.87);
}
.ui.tabular.menu .active.item {
  background: none rgb(255, 0, 0);
  color: rgba(255, 255, 255, 0.95);
  border-top-width: 1px;
  border-color: red;
  font-weight: bold;
  margin-bottom: -1px;
  box-shadow: none;
  border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
}

.ui.tabular.menu .item:hover {
  background: pink;
  color: white;
  border-radius: 0.28571429rem 0.28571429rem 0 0 !important;
  cursor: default;
}